<h1 class="text-center mt-4">Edit College</h1>

<% if current_user.admin? %>
  <div class="container" id="new-container">
  </br>
  <%= render 'form' %>
  
<% else %></br>
  <h2><center>Oops! Only Admin has the right to edit the College name</center></h2>
  </div> 
<% end %> 