<div class="container" id="index-container">
  <h1 class="text-center mt-4">List Of Colleges</h1>

  <% @colleges.each do |college| %>
    <div class="card mt-4" style="width: 22rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">College Name: <%= college.name %> </li>
      </ul>
    </div>
    <div class="text-center mt-4">
    <%= link_to "EDIT COLLEGE NAME", edit_college_path(college), class: "btn btn-outline-info" %></br></br>
  </div>
  <% end %>
  
</div>