<div class="container" id="index-container">
<h1 class="text-center mt-4">Colleges</h1>

  <% @college.each do |college| %>
    <div class="card mt-4" style="width: 22rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">College Name: <%= college.name %> </li>
      </ul>
    </div>
  <% end %>
</div>