<h1 class="text-center mt-4">Create New College</h1>

<% if current_user.admin? %>
  <div class="container" id="new-container">
  </br>
    <%= render 'form' %>
    
<% else %></br>
 <h2><center>Oops! Only Admin can create College</center></h2>
  </div>
<% end %>