<h1 class="text-center mt-4">Course: <%= @course.name %></h1>

  <div class="card mt-4" style="width: 32rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Student Name: <%= @student.student_name %> </li>
    </ul>
  </div>